@import '../../../styles/buttons';

.create-voicebot-form{
  max-width: 100% !important;
  text-align: center;
  padding-left: 20px !important;

  form {
    width: 80%;

    .voiq-field {
      width: 100%;

      .MuiTextField-root {
        width: 100%;
      }
    }

    button {
      margin-top: 20px;
    }
  }
}
