@import './colors';

.voiq-button-primary {
  &.MuiButton-root {
    color: white !important;
    background-color: $voiq-blue !important;
    border-color: $voiq-blue !important;
  }

  &.MuiButton-root:focus,
  &.MuiButton-root:active,
  &.MuiButton-root.active,
  &.open .dropdown-toggle.MuiButton-root {
    color: white;
    background-color: $voiq-blue !important;
    border-color: $voiq-blue !important;
  }

  &.MuiButton-root:hover {
    color: white;
    background-color: $voiq-success-hover !important;
    border-color: $voiq-success-hover !important;
  }

  &.MuiButton-root:active,
  &.MuiButton-root.active,
  &.open .dropdown-toggle.MuiButton-root {
    background-image: none;
  }

  &.MuiButton-root.disabled,
  &.MuiButton-root[disabled],
  fieldset[disabled] &.MuiButton-root,
  &.MuiButton-root.disabled:hover,
  &.MuiButton-root[disabled]:hover,
  fieldset[disabled] &.MuiButton-root:hover,
  &.MuiButton-root.disabled:focus,
  &.MuiButton-root[disabled]:focus,
  fieldset[disabled] &.MuiButton-root:focus,
  &.MuiButton-root.disabled:active,
  &.MuiButton-root[disabled]:active,
  fieldset[disabled] &.MuiButton-root:active,
  &.MuiButton-root.disabled.active,
  &.MuiButton-root[disabled].active,
  fieldset[disabled] &.MuiButton-root.active {
    background-color: $voiq-default-gray !important;
    border-color: $voiq-default-gray !important;
  }

  &.MuiButton-root .badge {
    color: $voiq-blue !important;
    background-color: #ffffff !important;
  }
}

.voiq-button-secondary {
  &.MuiButton-root {
    color: white !important;
    background-color: $voiq-orange-light !important;
    border-color: $voiq-orange-light !important;
  }

  &.MuiButton-root:focus,
  &.MuiButton-root:active,
  &.MuiButton-root.active,
  &.open .dropdown-toggle.MuiButton-root {
    color: white;
    background-color: $voiq-orange-light !important;
    border-color: $voiq-orange-light !important;
  }

  &.MuiButton-root:hover {
    color: white;
    background-color: $voiq-orange !important;
    border-color: $voiq-orange !important;
  }

  &.MuiButton-root:active,
  &.MuiButton-root.active,
  &.open .dropdown-toggle.MuiButton-root {
    background-image: none;
  }

  &.MuiButton-root.disabled,
  &.MuiButton-root[disabled],
  fieldset[disabled] &.MuiButton-root,
  &.MuiButton-root.disabled:hover,
  &.MuiButton-root[disabled]:hover,
  fieldset[disabled] &.MuiButton-root:hover,
  &.MuiButton-root.disabled:focus,
  &.MuiButton-root[disabled]:focus,
  fieldset[disabled] &.MuiButton-root:focus,
  &.MuiButton-root.disabled:active,
  &.MuiButton-root[disabled]:active,
  fieldset[disabled] &.MuiButton-root:active,
  &.MuiButton-root.disabled.active,
  &.MuiButton-root[disabled].active,
  fieldset[disabled] &.MuiButton-root.active {
    background-color: $voiq-orange-light !important;
    border-color: $voiq-orange-light !important;
  }

  &.MuiButton-root .badge {
    color: $voiq-orange-light !important;
    background-color: #ffffff !important;
  }
}