$voiq-light-gray: #e2e3e4;
$voiq-blue: #39b2b1;
$voiq-translucid-blue: #39b2b157;
$voiq-dark-gray: #384b4a;
$voiq-dark: #272c2c;
$voiq-black: #1f2222;
$voiq-green: #1fc987;
$voiq-sidebar-blue: #233445;

$voiq-red: #e74c3c;
$voiq-light-red: #e06154;
$voiq-warning-color: #d0a956;
$voiq-orange: #de7a22;
$voiq-orange-light: #ff9d3c;
$voiq-dark-blue: #35729E;
$voiq-default-gray: #bdc3c6;

$voiq-title-color: #273f57;
$voiq-form-label-color: #646d75;

$background-color: #f3f5f7;
$new-background-color: #ffffff;
$form-control-background: #f7f7f7;

$voiq-red-alert: #F97F7F;
$voiq-blue-gray: #666666;

$voiq-success-hover: #46d5d4;
$voiq-danger-hover: #ee796d;
$voiq-default-hover: #b4b4b4;

$voiq-light-gray-no-selected: #b1b3b8;

$voiq-menu-item-disabled: #adb1b5;
$voiq-gray-divider: #d7dfe4;
$voiq-statements: #ccc;

$voiq-gradient-dark-gray: #e8ebee;
$voiq-gradient-light-gray: #f3f5f7;

$voiq-gray-icons: #acacac;

$voiq-gray-full-progress-bar: #bcbdc1;
$voiq-gray-progress: #d5dbdb;

$voiq-green-light: #e2f6e9;
$voiq-blue-light: #ecf6f7;

$voiq-popup-bg: #f9f9f9;
$voiq-popup-footer-bg: #ecf0f1;

$voiq-table-header-bg: #e5e9ed;

$voiq-tt-blue: #0097cf;

$athens-gray: #e8ebee;
$bombay: #adb1b5;
$dove-gray: #666666;
$geyser: #d7dfe4;
$porcelain: #f7f8f9;
