@import '../../../styles/colors';

.MuiTabs-indicator {
  background-color: $voiq-blue !important;
}

.edit-voicebot {
  padding-top: 30px;
  width: 100%;
  max-width: 100% !important;
}

.voicebot-setup {
  width: 100%;
}

.activate-button {
  margin-top: 20px !important;
}
