@import '../../styles/layout.scss';

.voiq-navbar-logo {
  width: auto;
  max-height: 30px;
}

.drawer {
  border: 0 !important;
}

.drawer-open {
  width: $navbar-size-open;
  transition: width 0.5s ease-in-out !important;

  .drawer-toolbar{
    img {
      width: 100px;
      transition: width 0.5s ease-in-out !important;
    }
  }
}

.drawer-closed {
  width: 100px;
  overflow-x: hidden;
  transition: width 0.5s ease-in-out !important;

  .drawer-toolbar{
    img {
      height: 30px;
      width: 36px;
      transition: height 0.5s ease-in-out !important;
    }
  }
}

.drawer-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
}
