.customize-item {
  width: 100%;
  min-width: 100%;
  padding-left: 16px !important;

  &.voices-item {
    margin-top: 30px !important;
    padding-right: 30px !important;
  }
}

.customize-text-area, 
.item-text-field {
  width: 100% !important;
}

.delete-item-row {
  padding: 0 !important;
}

.add-item {
  text-align: center !important;
  justify-content: center !important;
  height: 25px !important;
}
