body {
    margin: 0;
}
#root {
    height: 100%;
    min-height: 100vh;
    font-family: Cera Pro Regular,Open Sans,sans-serif;
    font-size: .75rem;
}

a {
    color: #39b2b1;
    text-decoration: none;
}